.signup-portion{
    position:relative;
    width: 100%;
    height: 120%;
    top: 7%;
    background: #000;
    overflow: hidden;
    display: flex;

    
}

#cartImage{
    position: relative;
    top: 20%;
    left: 5%;
    width: 750px;
}
.account-section-signUp{
    position: relative;
    left:10%;
    
    font-family: sans-serif;
    color: #fff;
}

span{
    color: red;
}
.details{
    font-size: 12px;
    
}
#email-field,#name-field,#password-field{
  background: transparent;
  width: 350px;
  border-bottom: 2px solid rgb(87, 74, 74);
  outline: none;
  color: #fff;
  font-size: 14px;
}
#account{
    background-color: red;
    border: none;
    width: 170px;
    height: 40px;
    cursor: pointer;
    color: #fff;
}
.account-already-exist{
    background-color: #fff;
    height: 30px;width: 400px;
}
#signup-google{
    position: relative;
    left: 12px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    gap: 10px;
    width: 500px;
}
#google-icon{
    margin-top: 1.3px;  
}
#login-link{
    text-decoration: none;
    color: #967c7c;
    text-decoration: underline;
}
/* .signup-footer{
    position: absolute;
    top: 10%;
    width: 100%;
} */

