.cart-portion {
  width: 90%;
  height: 100vh;
  display: flex;
  gap: 5%;
  justify-content: center;
  
  /* Hide scrollbars */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cart-portion::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.cart-left {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#empty-cart {
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  font-family: sans-serif;
  color: #d60c0c;
  width: 100%;
}

.cart-items {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.individual-cart-item {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid beige;
  margin-bottom: 20px;
  padding: 10px;
}

.cart-product-image {
  width: 180px;
}

#cart-image {
  width: 100%;
  height: auto;
  display: block;
}

.cart-product-details {
  flex-grow: 1;
  color: aliceblue;
}

.cart-product-description {
  font-size: 18px;
  margin-top: 0;
}

.cart-product-price {
  font-size: 20px;
  margin-top: 10px;
  color: #d60c0c;
}

.remove {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10%;
  
  background-color: #d60c0c;
  color: #fff;
  width: 120px;
  height: 35px;
}

.remove:hover {
  background-color: #a00a04;
}

.underline-cart-page {
  border-bottom: 4px solid black;
}

.price-details {
  border: 1px solid aliceblue;
  width: 30%;
  padding: 2%;
  height: fit-content;
  margin-top: 10%;
}

#price-detail-heading {
  text-align: center;
  color: aliceblue;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cart-portion {
    flex-direction: column;
    align-items: center;
  }

  .cart-left, .price-details {
    width: 80%;
  }

  .cart-product-image {
    width: 100px;
  }

  #empty-cart {
    font-size: 30px;
  }
}
