.home-portion{
    position:relative;
    /* height: 100%; */
    width: 100%;
    height: 494%;
    
    background-color: #000;
    top: 7%;  
    color: #fff;
    overflow: hidden;
}
.firstprt{
    margin-top:5%;
    margin-left: 5%;
    height:100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.heading{
    
   margin-top:15%;
    font-family: sans-serif;
}
.secndprt{
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.categories-section{
    position: relative;
   /*  top: 500px;
    left: 80px; */
}

button{
    width: 10px;
    height: 20px;
    border: none;
    background-color: red;
}

#cate{
    position: relative;
    top: -23px;
    left: 20px;
    color: red;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#browse_cate{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    gap:5%
}

.grid-container{
    
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    margin-top: 5%;
    margin-left:3%

    /* background-color: yellowgreen; */
}
.grid-item{
    /* background-color: violet; */
    width:100%;
    overflow: hidden;
    
}
.grid-item img{
    overflow: hidden;
    
}
.grid-item img:hover{
    filter: drop-shadow(
        20px 20px 40px pink
    );
}
#watch-btn,#shoes-btn,#bags-btn,#dress-btn,#phones-btn,
#laptops-btn,#headphones-btn,#kids-btn
{
    position: relative;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100px;
    height: 40px;
    
}
.view-all{
    
    text-align: center;
    margin-bottom: 10%;
}
#all-prod{
    width: 100px;
    height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;

}


/* 
}
.accordion{
    height: 200px;
    width: 200px;
    background-color: #fff;
}
 */ 