.home-portion{
    position:absolute;
    /* height: 100%; */
    width: 100%;
    height: 394%;
    background-color: #000;
    top: 7%;  
    color: #fff;
    overflow: hidden;
}

.heading{
    position: relative;
    top: 40px;
    text-align: center;
    font-family: sans-serif;
}
.categories-section{
    position: relative;
    top: 500px;
    left: 85px;
}
button{
    width: 10px;
    height: 20px;
    border: none;
    background-color: red;
}
#cate{
    position: relative;
    top: -23px;
    left: 20px;
    color: red;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#browse_cate{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.grid-container{
    position: relative;
    left: 80px;
    top: 550px;
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    height: 850px;
    gap: 2px;
    row-gap: 80px;
    
}
.grid-item{
    /* background-color: violet; */
    width: 250px;
    overflow: hidden;
    
}
.grid-item img{
    overflow: hidden;
    
}
.grid-item img:hover{
    filter: drop-shadow(
        20px 20px 40px pink
    );
}
#watch-btn,#shoes-btn,#bags-btn,#dress-btn,#phones-btn,
#laptops-btn,#headphones-btn,#kids-btn
{
    position: relative;
    cursor: pointer;
    left: 64px;
    top: 20px;
    width: 100px;
    height: 40px;
    color: #fff;
    font-weight: 500;
    
}
.accordion{
    height: 200px;
    width: 200px;
    background-color: #fff;
}
