
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ:wght@100..400&display=swap');

/*  */
.home-portion{
    position:relative;
    /* height: 100%; */
    width: 100%;
    height: 494%;
    
    background-color: #000;
    top: 7%;  
    color: #fff;
    overflow: hidden;
}
.firstprt{
    
    display: flex;
    height:100vh;
    text-align: center;
    justify-content: center;

     /* background-image: url("../../../public/images/bgimage.png");
    background-repeat: no-repeat;
    background-size:100%;  */
    
}
.head{
    font-size: 30px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  color:#D60C0C;
}
.front_des{
    color: aliceblue;
    text-transform: uppercase;
    font-family: "",sans-serif;
    font-size: 37px;
    font-weight: 900;
    font-style: normal;
}


.des{
    color:#D60C0C;
}

.heading{
    font-size: xx-large;
   margin-top:15%;
    font-family: sans-serif;
}
.secndprt{
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.categories-section{
    position: relative;
   /*  top: 500px;
    left: 80px;  */
}

.cate-div{
    left:20px;
    
    width:10px;
    height:20px;
    background-color: #D60C0C;
}
button{
    
    border: none;
    background-color: #D60C0C;
}

#cate{
    position: relative;
    top: -20px;
    left: 20px;
    color:#D60C0C;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#browse_cate{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    gap:5%
}

.grid-container{
    
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr);
    margin-top: 5%;
    margin-left:3%

    /* background-color: yellowgreen; */
}
.grid-item{
    /* background-color: violet; */
    width:100%;
    overflow: hidden;
    
}
.grid-item img{
    overflow: hidden;

    
}
.grid-item img:hover{
    
    transform: scale(1.02);
    /* filter: drop-shadow(
        2px 2px 40px #d60c06
    ); */
}
#watch-btn,#shoes-btn,#bags-btn,#dress-btn,#phones-btn,
#laptops-btn,#headphones-btn,#kids-btn
{
    position: relative;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100px;
    height: 40px;
}

.view-all{
    
    text-align: center;
    
    margin-top: 10%;
}
#all-prod{
    width: 150px;
    height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;

}


/* 
}
.accordion{
    height: 200px;
    width: 200px;
    background-color: #fff;
}
 */ 