.footer-portion{
    position:absolute;
    width: 100%;
    height: 28%;
    top: 400%;
    top: 300%;
    display: flex;
    justify-content: space-around;
    color: #000;
    background: #b17272;
    overflow-y: hidden;
}
.first-col,.second-col,.third-col{
    position: relative;
    top: 10px;
}
h3{
    font-size: 23px;
}
li{
  font-size: 17px;
}
#login-btn,#cart-btn,#about-btn,#contact-btn,#faq-btn,#account-btn{
    color: #000;
    font-weight: 400;
    text-decoration: none;
}
.social-icons{
    font-size: 25px;
    display: flex;
    margin-top: 13px;
    gap: 20px;
}
#insta-logo{
    
    color: aliceblue;
    background-image: linear-gradient(115deg, rgb(249, 206, 52), rgb(238, 42, 123), rgb(98, 40, 215));;
    
}
#face-logo{
    background-color: #f0f0f8;
}
#linkedin-logo{
    background-color: #f0f0f8;

} 


  .footer-portion{
    width: 100%;
    background-color: #666;
    margin-bottom: 0%;
   
  }