
.single-product-page {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 50px;
    /* background-color: #fff; */
    /* width: 700px; */
  }
  .single-product-page-details{
    color: #dfdada;
  }
  .image-thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .thumbnail {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: top;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .thumbnail img:hover {
    border-color: #000;
  }
  
  .main-image img {
    width: 500px;
    height: 500px;
    object-fit: top;
    
  }
  .single-product-page-details{
    /* background-color: #c27676; */
    height: 400px;
    width: 500px;
    margin-left: 100px;
  }
  .single-product-comparison{
    /* background-color: rgb(212, 165, 165); */
    height: 600px;
    width: auto;
    margin-top: 100px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #comparison{
    color: red;
    font-weight: 700;
    font-size: 40px;
    padding-left: 10px;
    margin-top: 100px;
    margin-left: 80px;
  }
  .amazon-price,.flipkart-price,.meesho-price,.myntra-price{
    height: 250px;
    width: 300px;
    background-color: rgb(94, 95, 95);
  }
  .amazon-price:hover,.flipkart-price:hover,.meesho-price:hover,.myntra-price:hover{
    border-radius: 30%;
  }
  #amazon-heading,#flipkart-heading,#meesho-heading,#myntra-heading{
    text-align: center;
  }
   #price{
    font-size: 20px;
    color: rgb(211, 56, 56);
    font-weight: 600;
    padding-left: 20px;
    padding-top: 20px;
   }
  #price-color{
    color: #fff;
  }
  #ratings{
    font-size: 20px;
    padding-left: 20px;
    color: rgb(243, 44, 44);
    font-weight: 600;
  }
  #add-to-cart{
    text-decoration: none;
    border: 2px solid ;
    border-color: none;
    width: 140px;
    height: 35px;
    margin-left: 90px;
    text-align: center;
    cursor: pointer;
    gap: 100px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: orange;
  }
  #buy-now{
    text-decoration: none;
    border: 2px solid ;
    border-color: none;
    width: 140px;
    height: 35px;
    margin-left: 90px;
    text-align: center;
    cursor: pointer;
    gap: 100px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: orangered;
  }