.login-portion{
    position: relative;
    top: 7%;
    height: 100%;
    width: 120%;
    display: flex;
    background: #000;
    overflow: hidden;
}
.account-section-login{
    position: relative;
    left: 8%;
    /* background-color: #fff; */
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}
#login-btn{

    width: 90px;
    height: 35px;
    cursor: pointer;
}
#forgot-pass{
    
    top: -25px;
    left: 220px;
    color: red;
}